@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --dark-blue:#1A2E35;
    --clear-blue:#1CBBB4;
    --red-clear: #FF4F5A;
    --white: #fff;
}

.btn{
    width: 150px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    color: var(--white);
    border: 0px;
    transition: all ease-in-out 0.2s;
}

.btn:hover{
    background: transparent;
    color: var(--dark-blue);
}
.warning{
    background-color: var(--red-clear);
}
.dark-blue{
    background: var(--dark-blue);
}
.clear-blue{
    background-color: var(--clear-blue);
}